.scroll-content {
    padding: 16px;
}

.item-complex.item-icon-left {
    border: 0;
    border-bottom: solid 1px white;
    margin: 0px;
}

.angular-google-map-container {
    height: 400px;
}
#btn-menu
{
    z-index: 1;
}
#routeMap { height: 180px; }
#search { margin-bottom: 15px}
#search > input#mapSearch{ border: solid 1px #CACACA; font-size: 21px;}
#search > label[for='mapSearch']{ }